
body 
{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em;
  background-color: #F8F9FA;
}

ul 
{
  list-style: none;
}

.navbarIzq 
{
 margin-top: 24px;
}

/* unvisited link */
 a:link 
 {
   color: #000000;
 }

 /* visited link */
 a:visited 
 {
   color: #747171be;
 }

 /* mouse over link */
 a:hover 
 {
   color: #fa0015;
   text-decoration: none;
 }

 /* selected link */
 a:active 
 {
     color: #CCCCCC;
 }

.container-navbar
{
padding: 0px;
margin: 0px;
}

.navbarLogo
{
  padding-right: 15px;
  padding-left: 20px;
}

.navbarIconosRight
{
  display: flex;
  flex-direction: row;
/*  justify-content: left;
  float: left; */
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
}

.navbarIconosList
{
  flex-direction: row;
  float: left;
  width: 50%;
}

.navbarIconosItem
{
width: 100%;
}

p.modalTile
{
  font-size: 20px;
}

.listTechSpecs
{
  font-size: 0.9rem;
}

.container-products
{
  margin-bottom:1.5rem!important;
}

.mainProd
{
  margin-top:1.5rem!important;
  margin-bottom:1.5rem!important;
}

.buttonAdminList
{
  flex-direction: row;
  float: right;
  /* margin-bottom: auto; */
  /* width: 50%; */
}

.buttonAdminListRadio
{
  flex-direction: row;
  float: right;
  margin-left: 10px;
}

.buttonAdminListLeft
{
  flex-direction: row;
  float: left;
  margin-left: 10px;
}

.productsList
{
  flex-direction: row;
  float: left;
  /* margin-bottom: auto; */
  /* width: 50%; */
}

.img-cart
{
  flex-direction: row;
  float: left;
  /* margin-bottom: auto; */
  /* width: 50%; */
}

.table-cart
{
  background: #ffffff;
  border-radius: 1em;
  margin-bottom: 30px;
  padding: 1em;
  display: flex;
}

.table-cart img
{
  width: 50px;
}

@media only screen and (min-width: 1124px) 
{

.navbarLogo
{
  padding-right: 15px;
  padding-left: 80px;
}

.navbarIconosRight
{
  display: flex;
  flex-direction: row;
/*  justify-content: left;
  float: left; */
  padding-right: 75px;
  padding-left: 15px;
  overflow: hidden;
}

}

@media only screen and (max-width: 460px) 
{ 

  /* Desaparece con display none el div con las publicidades */
.navbarIzq
{
 display: none;
}

}



